html {
      background-image:url('../images/background.jpg');
      background-repeat:repeat-x;
}

body {
    font-family: 'DejaVu Sans', Arial, Helvetica;
    font-size: 12px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px 20px;
    width: 850px;

    border-left: 1px solid green;
    border-right: 1px solid green;
}

A:link, A:visited, A:active, A:hover {
    text-decoration: none;
    color: blue;
}

.bordered {
    border: 1px;
    border-style:solid;
    border-color:black;
}

.margined {
    margin: 5px 0px 5px 0px;
}

.padded {
    padding: 5px 10px 5px 10px;
}

div.index-file-list-element:hover {
    background-color:red;
}

div.index-file-list-element {

}

div.annotation {

}

span.add-comment{
    float: right;
}

div.container {
    #width: 850px;
    height: 400px;

    background-color: white;
}

div#actionsMenu {
    text-align:center;
}

div#innerContainer {
    height: 100%;
    
    margin: auto;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#newComment{
    display:none;
}

div#currentIndexFile {
}

div#indexFileList {
}

canvas#waveform {
    background-color: blue;

    border: 1px;
    border-style:solid;
    border-color:black;
}

canvas#selectionOverlay {
    z-index: 100;

    #background-color: red;
}

canvas#waveform, canvas#selectionOverlay {
    width: 800px;
    height: 380px;

    position: absolute;
}