body {
  font-family: 'DejaVu Sans', Arial, Helvetica;
  font-size: 12px;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 20px 20px;
  width: 850px;
}

div.waveform {
    #width: 850px;
    #height: 400px;

    border: 1px;
    border-style:solid;
    border-color:black;

    background-color: white;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#waveform {
    width: 800;
    height: 380;
    background-color: blue;

    border: 1px solid black;

    alpha: 0.5;
}