<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="resources/css/audio-annotation.css"/>

<head>
    <title>Welcome to AudioAnnotation</title>

    <script src="resources/javascript/canvasUtils.js"></script>
    <script src="resources/javascript/audioAnnotation.js"></script>
    <script src="resources/javascript/selectionOverlay.js"></script>
    <script src="resources/javascript/waveForm.js"  type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<script type="text/javascript" charset="utf-8">
    //<![CDATA[

    function createComment() {
        console.log( "creating comment" );

        ///if ( selectionOverlay.startX > -1 ) {
        //    console.log( waveformObj.idIndexFile + ": creating region from " + selectionOverlay.startX + " to " + selectionOverlay.endX );
        //}
    }

    $( window ).resize( function( e ) {
    } );

    $( document ).ready( function() {
        audioAnnotation = new AudioAnnotation( innerContainer );
    } );

    function toggleList() {
        $('#indexFileList').slideToggle('slow', function() {
            // Animation complete.
        });
    }

    function loadIndexFile( nameIndexFile, idIndexFile ) {
        $('#currentIndexFile').text( "Current file... " +  nameIndexFile );
        this.audioAnnotation.loadIndexFile( idIndexFile );
    }

    //]]>
</script>

<body>

<form action="#" th:action="@{/annotation}" th:object="${indexFile}" method="post">

    <div class="bordered margined padded">
    <button type="submit" name="addAnnotation">Annotate</button>
    <input id="toggleList" type="button" value="Toggle List" onclick="window.toggleList();"/>
</div>

<div id="indexFileList" class="bordered padded">
    <div th:unless="${#lists.isEmpty(allIndexFiles)}">
        <a href="javascript:void(0);" th:each="indexFile : ${allIndexFiles}" th:onclick="'javascript:window.loadIndexFile( \'' + ${ indexFile.name } + '\',\'' + ${ indexFile.id } + '\');'">
            <div class="index-file-list-element bordered padded margined">
                <span th:text="${indexFile.name}"/>
            </div>
        </a>
    </div>
</div>

<div id="currentIndexFile" class="bordered padded margined">
No file loaded..
</div>

<div class="container bordered margined">
    <div id="innerContainer" class="inner-container">
        <!--<div class="waveform">-->
            <!--<canvas id="waveform"></canvas>-->
        <!--</div>-->
        <!--<div class="overlay">-->
            <!--<canvas id="overlay"></canvas>-->
        <!--</div>-->
    </div>
</div>

<table>
    <tbody>
        <tr th:each="annotation,count : *{comments}">
            <td th:text="${count}">1</td>
            <td>
                <input type="text"
                       th:field="*{comments[__${count.index}__].text}"
                       th:class="${#fields.hasErrors('comments[__${count.index}__].text')}? 'fieldError'" />
            </td>
            <td>
                <button type="submit" name="removeAnnotation" th:value="${count.index}">Remove</button>
            </td>
        </tr>
    </tbody>
</table>

</form>
</body>
</html>