<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Spring Thyme Seed Starter Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

  <th th:text="${ping}">Ping? </th>

  <!--<form action="#" th:action="@{/hello}" th:object="${seedStarter}" method="post">-->
  <form action="#" th:action="@{/hello}" method="post">
      <input type="text" name="name" />

      <div class="submit">
          <button type="submit" name="sayHello">Say Hello: </button>
      </div>
    </form>

  </body>
</html>